@page
@model JdrEnLigne.Areas.Joueur.Pages.Joueurs.AddModel
@{
	ViewData["Title"] = "Ajout d'un joueur";
}

<div class="row">
	<div class="col-md-6">
		<div class="card shadow border-0 my-4">
			<div class="card-header bg-primary bg-gradient py-3">
				<div class="row">
					<div class="col-12 text-center">
						<h2 class="text-white py-2">Ajouter un joueur</h2>
					</div>
				</div>
			</div>
			<div class="card-body p-4">
				<div class="pb-3">
					<form method="get" asp-area="Joueur" asp-page="/Joueurs/Add">
						<input hidden name="id" value="@Model.Partie.PartieId" />
						<label class="mb-3" for="searchText">Entrer le pseudo du joueur</label>
						<div class="input-group shadow">
							<input type="text" class="form-control" name="searchText" placeholder="Pseudo" value="@Model.SearchJoueur" />
							<button type="submit" class="btn btn-info" aria-label="Rechercher">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</div>
					</form>
				</div>


				@if (Model.Joueurs.Count > 0)
				{
					<hr />
					<div class="mt-3 pb-3">
						<div class="mb-3">
							<p>Résultats</p>
						</div>
						<ul class="list-group">
							@foreach (JoueurVM joueur in Model.Joueurs)
							{
								<li class="list-group-item d-flex align-items-center">
									<span class="me-auto">
										@joueur.Pseudo
										<a asp-area="Joueur" asp-page="/Joueurs/Index" asp-route-id="@joueur.JoueurId">
											(présentation)
										</a>
									</span>
									<div>
										<form method="post"
											  asp-route-partieId="@Model.Partie.PartieId"
											  asp-route-joueurId="@joueur.JoueurId">
											<button type="submit" class="btn btn-success" aria-label="Ajouter">
												<i class="fa-solid fa-person-circle-plus"></i>
											</button>
										</form>
									</div>
								</li>
							}
						</ul>
					</div>
				}
				<a class="btn btn-outline-secondary mt-3" asp-area="Joueur" asp-page="/Parties/Details" asp-route-id="@Model.Partie.PartieId" asp-route-pv="1">Annuler</a>
			</div>
		</div>
	</div>
</div>


