@page
@model IndexModel
@Html.AntiForgeryToken();

@{
	string? handler = HttpContext.Request.Query["handler"];
	bool isMeneur = (handler == "MeneurIndex") ? true : false;
}

<div class="row my-5 mx-3">
	<div class="col-sm-6 my-2 my-sm-0">
		<h2>Gérer mes parties</h2>
	</div>
	<div class="col-sm-6 d-sm-flex flex-sm-row-reverse">
		<a asp-area="Joueur" asp-page="/Parties/CreateOrEdit" class="btn btn-primary rounded-pill btn-lg ">Créer une partie</a>
	</div>
</div>

<div class="m-3">
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a id="meneurBtn" class="nav-link @(isMeneur ? "active" :"")" asp-area="Joueur" asp-page="/Parties/Index" asp-page-handler="MeneurIndex">
						<span class="fs-4">Je mène</span>
					</a>
				</li>
				<li class="nav-item">
					<a id="participantBtn" class="nav-link @(isMeneur ? "" :"active")" asp-area="Joueur" asp-page="/Parties/Index" asp-page-handler="JoueurIndex">
						<span class="fs-4">Je joue</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			@if (Model.Parties == null || Model.Parties.Count() == 0)
			{
				if (isMeneur)
				{
					<p>Vous ne menez aucune partie.</p>
				}
				else
				{
					<p>Vous ne participez à aucune partie.</p>
				}
			}
			else
			{
				<div class="offcanvas-parent flex-fill">
					<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" data-bs-scroll="true" aria-labelledby="offcanvasFilterLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasFilterLabel">Filtre</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<div>
								<vc:filter-bar filter="@Model.Filter">
								</vc:filter-bar>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3">
								<div class="input-group shadow">
								<input type="text" class="form-control" name="searchText" placeholder="Rechercher" value="@Model.SearchText" />
								<button type="submit" class="btn btn-info" aria-label="Rechercher">
									<i class="fa-solid fa-magnifying-glass"></i>
								</button>
							</div>
						</div>
						<div class="col-md-8 d-flex align-items-center mb-3">
							<div class="ms-md-auto">
								<button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter" aria-controls="offcanvasFilter">
									Filtrer
								</button>
							</div>
							<div class="dropdown ms-3">
								<button class="dropdown-toggle btn btn-light ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Trier
								</button>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="@Url.Page("/Parties/Index","MeneurIndex", new {area="Joueur", dateSort="date_desc", filter=Model.Filters, pageSize = Model.PageSize})">
											Du + récent au - récent
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="@Url.Page("/Parties/Index","MeneurIndex", new {area="Joueur", dateSort="date_asc", filter=Model.Filters, pageSize = Model.PageSize})">
											Du - récent au + récent
										</a>
									</li>
								</ul>
							</div>
							<div class="d-flex align-items-center ms-3">
								<div>
									<select id="pageSize" class="form-select" asp-items="@Model.PageSizesList">
									</select>
								</div>
								<span class="ms-1">parties par page</span>
							</div>
						</div>
					</div>
					<div>
						<div id="table">
							<table id="partiesTable" class="table table-bordered table-striped table-hover switch">
								<thead>
									<tr class="table-primary">
										<th>Titre</th>
										<th>Format</th>
										<th>Système de jeu</th>
										<th>Table virtuelle</th>
										<th>Statut</th>
										@if (isMeneur)
										{
											
											<th>Places</th>
											<th>Date de création</th>
										}
										else
										{
											<th>Meneur</th>
										}
										<th>Prochaine séance</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Parties)
									{
										<tr>
											<td data-label="Titre">
												@Html.DisplayFor(modelItem => item.Titre)
											</td>
											<td data-label="Format">
												@Html.DisplayFor(modelItem=>item.Format)
											</td>
											<td data-label="Système de jeu">
												@Html.DisplayFor(modelItem => item.Systeme)
											</td>
											<td data-label="Table virtuelle">
												@Html.DisplayFor(modelItem => item.Vtt)
											</td>
											<td data-label="Statut">
												@item.Statut.GetEnumDescription()
											</td>
											@if (isMeneur)
											{												
												<td data-label="Places">
													@Html.DisplayFor(modelItem => item.NbPlacesRest) restantes /
													@Html.DisplayFor(modelItem => item.NbPlacesTot) au total
												</td>
												<td data-label="Date de création">
													@Html.DisplayFor(modelItem => item.DateCreaPartie)
												</td>
											}
											else
											{
												<td data-label="Meneur">
													@item.Meneur.Pseudo
												</td>
											}
											<td data-label="Prochaine séance">
												@if (item.ProchaineSeance != null)
												{
													@:item.ProchaineSeance.ToString()
												}
												else
												{
													@:Pas de séance programmée
												}
											</td>
											<td>
												<a class="btn btn-info" asp-area="Joueur" asp-page="/Parties/Details" asp-route-id="@item.PartieId">
													<i class="fa-solid fa-eye"></i>
												</a>
												@if (isMeneur)
												{
													<a class="btn btn-danger" onclick="Delete('@Url.Page("/Parties/Delete", new{area="Joueur" , id=item.PartieId})')">
														<i class="fa-solid fa-trash"></i>
													</a>
												}
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<vc:pagination-bar pages="@Model.Pages">
						</vc:pagination-bar>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<script src="~/js/partieIndex.js"></script>
<script src="~/js/partieDelete.js"></script>

